<% @categories.each do |category| %>
<div class="card">
  <div class="card-content">
    <p class="title">
      <%= link_to category.name, category%>
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Products: <%= category.products.count %>
      </span>
    </p>
  </footer>
</div>
<% end %>
