<% @categories.each do |category| %>
<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to category.name, category%></strong>
          <br>
          There are <%= category.products.count %> products in this category.
        </p>
      </div>
    </div>
  </article>
</div>
<% end %>
